$primary-clr: rgb(196, 73, 73);
$primary-clr-hover: rgb(179, 63, 63);

$clr1: rgb(231, 231, 231); //background
$clr2: rgb(233, 233, 233); //list-active
$clr3: #9f9f9f;
$clr4: #e2e2e2;

$large-screen: 1000px;
$tablet-screen: 850px;
$mobile-screen: 600px;
